.cardsListContainer {
    display: flex;
    max-width:1200px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
}

.closeModal {
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    color: #C3C3C3;
    cursor: pointer;
}

